Makefile
Makefile.in
*.log
stamp-h1
autom4te.cache
aclocal.m4
config.h
config.h.in
config.status
libpippi/libpippi.a
libpippi/libpippi.so
.deps
compile
configure
depcomp
install-sh
missing
*.o
*.swp
*~
src/pippi
tests/common/.dirstamp
tests/ut_pipconfigparser/ut_pipconfigparser
tests/ut_pipvariant/ut_pipvariant
